{% extends 'home/style.html' %}
{% block content %}
<div class="container text-center">
    <br>
    <h2><u>Contact Us:</u></h2><br>
    <h4>Phone:08-6413533</h4>
    <h5>Mail: <a href=mailto:main@br7library.com>main@br7library.com</h5></a>
    <h4>Main Librarian: Yossi Cohen</h4>
    <h5>Mail: <a href=mailto:Yossico@br7library.com>Yossico@br7library.com</a></h5><br>
    <h3><i>looking forward to see you</i></h3>
    <h5>Address: Jabutinsky Av. 153, Beer Sheva , Israel</h5>
    <br><h4>Contact Software Developers:</h4>
    <h5>Mail: <a href=mailto:Contact@autobookservice.com>Contact@autobookservice.com</a></h5>

<br>
<br>
<a href={% url 'homepage' %}><button class="btn btn-primary">Home</button></a>

    <br>
    <br>
    <br>
    <br>
</div>
{% endblock %}