{% extends 'home/style.html' %}
{% block content %}

<div class="container text-center">
<br><br><br><br>
<h1>Contact US:</h1>
    <br>

    <h4>Phone:08-6413533</h4>
    <br><h4>Mail: <a href=mailto:main@br7library.com>main@br7library.com</a></h4>
    <br><br><h5>Main Librarian: Yossi Cohen</h5>
    <b>Mail: <a href=mailto:Yossico@br7library.com>Yossico@br7library.com</a></b>
    <br>
    <br><h5>Contact Software Developers:</h5>
    <b>Mail: <a href=mailto:Contact@autobookservice.com>Contact@autobookservice.com</a></b>
    <br><br><h5><i>looking forward to see you</i></h5>
       <h6> Address: Jabutinsky Av. 153, Beer Sheva , Israel</h6>

    <br>
    <br>
    <br>
    <br>
{% endblock %}