{% extends 'home/style.html' %}
{% block content %}
<div class="container text-center">
    <br>
    <h2>Contact Library:</h2>
    <br>Address: Jabutinsky Av. 153, Beer Sheva , Israel
    <br>Phone:08-6413533
    <br>Mail: <a href=mailto:main@br7library.com>main@br7library.com</a>
    <br><br>Main Librarian: Yossi Cohen<br>Mail: <a href=mailto:Yossico@br7library.com>Yossico@br7library.com</a>
    <br>
    <br><h2>Contact Software Developers:</h2>
    Mail: <a href=mailto:Contact@autobookservice.com>Contact@autobookservice.com</a>

<br>
<br>
<a href={% url 'homepage' %}><button class="btn btn-primary">Back</button></a>

    <br>
    <br>
    <br>
    <br>
</div>
{% endblock %}