{% extends "mepage/adult/styleadult.html" %}

{% block content %}
<div class="container text-center">
    <br>
    <br>
   <h2>{{ book.name }} by
    {{ book.author_name }}</h2>

    <br>
    <br>
    <img src="{{ book.image.url }}" height="220" width="180">
    <br>
    <br>
{#    <form method="POST" action="{% url 'meAdultDamage' book.id %}">#}
{#    {% csrf_token %}#}
{#        Damage Description:<input type="text" name="damagetext"><br>#}
{#        <button class="btn btn-primary" name="yes" type="submit">Submit</button>#}
{#    </form>#}
    <form method="POST" action="{% url 'meAdultDamage' book.id %}">
        {% csrf_token %}
  <textarea name="damagetext" rows="5" cols="50">Please Enter Damage Description.</textarea>
  <br><br>
  <button class="btn btn-primary" name="yes" type="submit">Submit</button>
</form>

    <form method="POST" action="{% url 'meAdultDamage' book.id %}">
    {% csrf_token %}
        <button class="btn btn-danger" name="no" type="submit">Cancel</button>
    </form>




</div>
{% endblock %}
