{% extends "mepage/adult/styleadult.html" %}

{% block content %}



<div class="container text-center">
    <div class="rcorners">
    <br>
    <br>
   <h2>{{ book.name }} by
    {{ book.author_name }}</h2>

    <br>
    <br>
    <img src="{{ book.image.url }}" height="220" width="180">
    <br>
    <br>
    <h5 style="color: red">Are You Sure?</h5><br>
    <form method="POST" action="{% url 'meAdultReturn' book.id %}">
    {% csrf_token %}
        <button class="btn btn-primary" name="yes" type="submit">Yes</button>
    </form>
    <form method="POST" action="{% url 'meAdultReturn' book.id %}">
    {% csrf_token %}
        <button class="btn btn-danger" name="no" type="submit">No</button>
    </form>

    </div>
</div>
{% endblock %}
