{% extends "mepage/adult/styleadult.html" %}

{% block content %}
    <h2 style="color: red">{{ error }} </h2>
    <div class="container px-lg-5">
        <div class="col mx-lg-n5">
            <div class="row py-3 px-lg-5"><h1 style="color:dodgerblue">Edit Profile</h1></div>
                <div class="row py-3 px-lg-5 border bg-light">
                    <form method="POST">
                    {% csrf_token %}
                    {{ form1.as_p }}
                {#     {{ form2.as_p }}#}
                    <button type="submit"> Save</button>
                    </form>
                </div>
                </div>
          </div>
    </div>

{% endblock %}