{% extends 'home/style.html' %}
{% block content %}
<div class="container text-center">
<h1><b>Contact us</b></h1>
    <br>
    <br>
    <br>
    <h3>looking forward to see you</h3>
    <br>Our Address: Jabutinsky Av. 153, Beer Sheva , Israel

https://waze.com/en-US/editor?env=il&lat=31.25121&lon=34.80864&marker=true&s=70360341&zoom=6



    <br>Phone: 08-6413533
    <br>Mail: <a href=mailto:main@br7library.com>main@br7library.com</a>
    <br><br><h5>Main Librarian: Yossi Cohen</h5><br>Mail: <a href=mailto:Yossico@br7library.com>Yossico@br7library.com</a>
    <br>
    <br><h4>Contact Software Developers:</h4>
    Mail: <a href=mailto:Contact@autobookservice.com>Contact@autobookservice.com</a>


<br>
<br>
    <br>
    <br>
    <br>

{% endblock %}