
{% extends 'home/style.html' %}

{% block content %}
    <br>
    <br>
    <br>
 <d class="container text-center">
     <h1><b> {{ home.title }}</b></h1>
<br><br>
  <p align="justify">
 <img src="{{ home.image.url }}" height="250" width="400" align="right" hspace="20">
      {{ home.description }}</p>
 {% if home.change_Book_date != None %}
     <h6 align="left">next exchanging day:  {{ home.change_Book_date|date:'d/m/y, D' }} </h6>

 {% endif %}
<br><br><br><br><br>

 <br><br><br><br>
     <h2><u>this mounth events</u></h2>

 <table>
	{% for event in events %}
	<tr>
        {% if event.link != None %}
			</tr><br><br><br><br><br><br><br><br>
    <td>
        <td><tr align="left"><a href={{ event.link }} target="_blank"><img src="{{ event.image.url }}" height="200" width="250" align="right" hspace="20"></a></tr></td>
        {% else %}
    </tr><br><br><br><br><br><br><br><br>
    <td>
			<td><tr align="left"><img src="{{ event.image.url }}" height="200" width="250" align="right" hspace="20"></tr></td>
		{% endif %}
			<td><tr align="right" width="1000"><h5>{{ event.title }}</h5><br>{{ event.text }}</tr></td>
	</td>
        <br>
 <b>{{ event.date }}</b>
    	{% endfor %}
</table>

 {{ event.date }}




        <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>


{#    {% for event in events %}#}
{#            <br>#}
{#  <tr>#}
{#  {% if event.link != None %}#}
{#      <th><a href="{{ event.link }}" target="_blank"><img src="{{ book.image.url }}" height="180" width="220"></a></th>#}
{#      {% else %}#}
{#    <td><img src="{{ event.image.url }}" height="180" width="220" align="left"></td>#}
{#      {% endif %}#}
{##}
{#    <td align="right" width="600"><h5>{{ event.title }}</h5><br>{{ event.text }}</td>#}
{#  </tr>#}
{#      <br>#}
{##}
{#    {% endfor %}#}
{##}
{##}
{% endblock %}