{% extends 'home/style.html' %}
{% block content %}
<div class="log container text-center">
<br><br><br><br><br>

    <h3>please log in</h3><br>
				user name:
                <input type="text" id="AuthorName" name="AuthorName" placeholder="username"><br><br>
                password:
                <input type="text" id="Name" name="Name" placeholder="password"><br><br>

<button type="button" class="btn btn-primary">sign in</button><br><br>

<h3>or join us</h3>
    <button type="button" class="btn btn-primary">register</button>
</div>
{% endblock %}