
{% extends 'home/style.html' %}

{% block content %}

    <div class="row align-items-center justify-content-center">
        <table class="tittle text-center">
            <tr>
                <th>take Book</th>
                <th>return Book</th>
            </tr>
            <tr>
                <td>
                    <input type="submit" value="takeBook">
                </td>
                <td>
                    <input type="submit" value="returnBook">
                </td>
            </tr>
        </table>
    </div>

{% endblock %}