		<style type="text/css">
			body{
				background-color:#f2ffe6;
				}
			.tbl{
				background-color:white;
				margin:10px 500px;
				position: "absolute";
				left:200px;
				top:500px;
				padding:50px;
				padding-left:150px;
				}
		</style>
<body>
    <div class="tbl">
        <table>
            <tr>
                <th>take Book</th>
                <th>return Book</th>
                <th>contact</th>
            </tr>
            <tr>
                <td>
                    <input type="submit" value="takeBook">
                </td>
                <td>
                    <input type="submit" value="returnBook">
                </td>
                <td>
                    <input type="submit" value="contact">
                </td>
            </tr>
        </table>
    </div>
</body>
