{% extends "mepage/student/stylestudent.html" %}

{% block content %}
    <br><br><br>
<h1 align="center">Activities</h1>
    {% for activity in activities %}

    <br><br>
        <div class="card bg-light mb-3" style="max-width: 100rem;">
  <div class="card-header">

<h3 class="card-title" align="center">{{ activity.title }}</h3>

  </div>
  <div class="card-body">
<div class="container text-center">
      <a href="{{ activity.link }}" target="_blank">Click Here</a>
    <p class="card-text"><h5>For Class: {{ activity.grade }}</h5></p>
</div>
  </div>
</div>
    {% endfor %}
{% endblock %}