{% extends 'book_cataloge/style.html' %}
{% block content %}

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
<form action={% url "filteredbooks" %}>

<div class="container text-center">
    <h1>Book Cataloge</h1><br>
    <h2>Librarian's Favorites</h2><br>

    <h2 class="alert alert-primary">

        <table style="table: table-bordered table-striped text-center">

            <tr>
        {% for book in books %}
           {% if book.librarian_favourite == True %}

        <th><h4>{{ book.name|truncatechars:15 }} <br>by <br>{{ book.author_name }}</h4></th>
           {% endif %}
        {% endfor %}
        </tr>
      <tr>
         {% for book in books %}
            {% if book.librarian_favourite == True %}
          <th><a href="{% url 'book_card' book.id %}"><img src="{{ book.image.url }}" height="90" width="90"></a></th>
            {% endif %}
         {% endfor %}

        </tr>
    </table>
    </h2>
</div>
<br>
<br>
<div class="container text-center">

    <h2>Cataloge</h2><br>

<table style="width:70% center">
  <tr>
     {% for book in books %}
  <th>{{ book.name|truncatechars:15 }} <br>by <br>{{ book.author_name }}</th>
     {% endfor %}
    </tr>
  <tr>
     {% for book in books %}
         <th><a href="{% url 'book_card' book.id %}"><img src="{{ book.image.url }}" height="90" width="90"></a></th>
      {% endfor %}
  </tr>
</table>

    <br>
    <br>
    <br>
    <br>


<h2>filter by:</h2>
    <table class="table table-bordered text-center">
   <tbody>
       <tr>
           <td>book name:</td>
           <td><input type="text" id="Name" name="Name"></td>
       </tr>
   <tr>
       <td>Author Name:</td>
       <td><input type="text" id="AuthorName" name="AuthorName"></td>
   </tr>
   </tbody>
</table>

Study Book: <input type="checkbox" name="Study_Book"><br>
Available:<input type="checkbox" name="Available" checked><br>

    <br>
        Genre<select name="genre">
            <option value="Drama">Drama</option>
            <option value="Roman">Roman</option>
            <option value="Fantasy">Fantasy</option>
            <option value="Mystery">Mystery</option>
            <option value="Poetry">Poetry</option>
            <option value="Short story">Short story</option>
            <option value="Thriller" >Thriller</option>
            <option value="Science fiction">Science fiction</option>
            <option value="Horror">Horror</option>
            <option value="Fairytale">Fairytale</option>
            <option value="Comic book">Comic book</option>
            <option value="Adventure">Adventure</option>
            <option value="Food">Food</option>
            <option value="Study Book">Study Book</option>
            <option value="All"selected="All">All</option>
        </select><br><br>
   <input type="submit" value="Show" class="btn btn-primary"><br><br>
<a href={% url 'simple' %}><button class="btn btn-primary">Back</button></a>
</form></div>
<br>
<br>
<br>
<br>
{% endblock %}