{% extends "mepage/student/stylestudent.html" %}
{% block content %}
	<div class="container text-center">

<h2>Audio Books</h2>
<div class="grid-container">
    {% for book in books %}
            <div class="grid-item">
                <div class="card" style="width: 12rem;">
                    <img src="{{ book.image.url }}" class="card-img-top" alt="...">
                    <h5 class="card-title">{{ book.name|truncatechars:15}}</h5>
                    <div class="card-body"><h6> {{ book.length }} Minutes </h6>
                    <a href="{{ book.link }}" class="btn btn-info">Listen Now !</a>
                </div>
                </div>
            </div>
    {% endfor %}
</div>
    </div>

{% endblock %}
