{% extends "mepage/student/stylestudent.html" %}
{% block content %}
    <head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<script src="https://kit.fontawesome.com/a076d05399.js"></script>
</head>
	<div class="container text-center">
<br><br>
   <h1>Audio Books  <i class="far fa-file-audio" style="font-size:60px;"></i></h1>
<div class="grid-container">
    {% for book in books %}
            <div class="grid-item">
                <div class="card" style="width: 12rem;">
                    <img src="{{ book.image.url }}" class="card-img-top" alt="...">
                    <h5 class="card-title">{{ book.name|truncatechars:15}}</h5>
                    {% if book.length  != None %}
                        <div class="card-body"><h6> {{ book.length }} Minutes </h6>
                    {% else %}
                        <div class="card-body"><h6>  </h6>
                    {% endif %}
                    <a href="{{ book.link }}" target="_blank" class="btn btn-primary"><i class="fas fa-play" style="font-size:60px; color:aliceblue;"></i></a>
                </div>
                </div>
            </div>
    {% endfor %}
</div>
    </div>
</div>
{% endblock %}
