{% extends "mepage/student/stylestudent.html" %}

{% block content %}
   {% for event in events %}
	<tr>
        {% if event.link != None %}
			<td><img src="{{ book.image.url }}" height="180" align="left" width="220"  hspace="20"></a><th><a href="{{ event.link }}" target="_blank"><\th></td>
        {% else %}
    </tr><br><br><br><br><br><br><br><br>
    <td>
			<td><tr align="left"><img src="{{ event.image.url }}" height="200" width="250" align="right" hspace="20"></tr></td>
		{% endif %}
			<td><tr align="right" width="1000"><h5>{{ event.title }}
            {% if request.user.student in event.registerstudent.all %}
               <h5 class="text-success"> registerd</h5>
                {% endif %}

            </h5><br>{{ event.text|truncatechars:100 }}</tr></td>
	</td>
       <br>
       <b>{{ event.date }}</b>
       <br><br>
       <form method="GET" action="{% url 'registerEvent' event.id %}" name="takeBook">
                        {% csrf_token %}

                        <button class="btn btn-primary" name="posses" onclick="myFunction()" type="submit">overview</button>
       </form>

    	{% endfor %}
</table>
    <br>
<br>
<br>
<br>
<br>
<br>
{% endblock %}
